.contact-intern {
    background: url("../img/bg-contato.jpg") no-repeat center;
    background-size: cover

}


.contact {
    padding: 40px 0;
}

.form {
    padding-right: 60px; 
}

.form_contact label {
    display: block;
    color: var(--black-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 4px;
}

.form_contact input {
    display: block;
    width: 100%;
    background: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    color: var(--black-color);
    border: 4px solid var(--yellow-color);
    padding: 7px 10px;
    margin-bottom: 10px;
    outline: none;
}

.form_contact textarea {
    display: block;
    width: 100%;
    height: 120px;
    background: none;
    color: var(--black-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    border: 4px solid var(--yellow-color);
    margin-bottom: 20px;
    outline: none;
}

.form_contact button {
    padding: 7px 40px;
    background: none;
}

.contact_data {
    color: var(--black-color);
}

.contact_data h3 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--yellow-color);
}

.contact_data span {
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 30px;
}

.contact_data span:nth-of-type(even) {
    margin-bottom: 30px;
}

.contact_data ul {
    margin-top: 10px ;
}

.contact_data ul li {
    display: inline-block;
    margin-right: 10px;
}

.contact_data ul li a {
    border: 3px solid var(--yellow-color);
    display: block;
    padding: 6px;
    transition: all .25s ease-in-out;

}

.contact_data ul li a:hover {
    border-color: var(--black-color);
}

.contact-map {
    margin-bottom: 60px;
}