.product-intern {
    background: url("../img/bg-produtos.jpg") no-repeat center;
    background-size: cover;
}

.product_item {
    padding-top: 60px;
}

.product_title {
    position: relative;
    margin-bottom: 20px;
}

.product_item h2 {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product_item h2::before, .product_item h2::after {
    content:"";
    width: 60px;
    height: 3px;
    background: #fff;
    display: block;
    margin: 6px auto;
}

.product_icon {
    background: var(--black-color);
    padding: 70px 0;
}

.product_icon img {
    margin: 0 auto;
}

.product_info {
    background: var(--black-color);
}

.product_info p{
    color: #fff;
    font-size: 18px;
    line-height: 25px;
    padding: 30px 40px; 
    height: 180px;
}

.product_info ul li {
    background: var(--yellow-color);
    text-transform: uppercase;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    float: left;
    width: 229px;
    height: 49px;
    text-align: center;
    padding-top: 16px;
} 

.product_info ul li:nth-child(1), .product_info ul li:nth-child(2){
    margin-bottom: 2px;
}

.product_info ul li:nth-child(even) {
    margin-left: 2px;
}

/* Orçamento */
.orcamento {
    background: var(--black-color);
    width: 100%;
    margin-top: 60px;
    padding: 40px 0;
}

.orcamento h2 {
    color: var(--yellow-color);
}

.orcamento h2::after {
    background: var(--yellow-color);
}

.form {
    padding-right: 60px; 
}

.form label {
    display: block;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 4px;
}

.form input {
    display: block;
    width: 100%;
    background: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    color: #fff;
    border: 4px solid var(--yellow-color);
    padding: 7px 10px;
    margin-bottom: 10px;
    outline: none;
}

.form textarea {
    display: block;
    width: 100%;
    height: 120px;
    background: none;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    border: 4px solid var(--yellow-color);
    margin-bottom: 20px;
    outline: none;
}

.form button {
    padding: 7px 40px;
    background: none;
}

.orcamento_data {
    color: #fff;
}

.orcamento_data h3 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--yellow-color);
}

.orcamento_data span {
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 30px;
}

.orcamento_data span + span {
    margin-bottom: 40px;
}

.orcamento_data ul li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    padding: 15px 20px;
}

.orcamento_data ul li:nth-child(odd) {
    background: #1d1d1d;
}

.orcamento_data p {
    margin-top: 10px;
}