:root {
    --yellow-color: #fec63e;
    --black-color: #000;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 200vh;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
}

img {
    display: block;
}

.btn {
    border: 3px solid var(--yellow-color);
    padding: 10px 30px;
    color:var(--yellow-color);
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: .1em;
    text-transform: uppercase;

    transition: all .25s ease-in-out;
}

.btn:hover {
    color: #fff;
    border-color: #fff;
}

.btn.btn-black:hover {
    color: var(--black-color);
    border-color: var(--black-color);
}

.subtitle {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    letter-spacing: .1em;
    color: var(--black-color);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}

.subtitle::after{
    content: "";
    width: 60px;
    height: 3px;
    background:var(--black-color);
    display: block;
    margin: 8px auto;
}

/* Header */

.header {
    position: fixed;
    top:0;
    left:0;
    z-index: 999;
    width: 100%;
    background: var(--yellow-color);
    padding: 15px 0;
}

.header_menu {
    text-align: right;
}

.header_menu ul li {
    display: inline-block;
    margin-left: 25px;
    margin-top: 20px;
}

.header_menu ul li a {
    color: var(--black-color);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0;
    transition: color .25s ease-in-out;

}

.header_menu ul li a:hover {
    color: #fff;
}

/* Intro */

.intro {
    width: 100%;
    height: 380px;
    margin-top: 92px;
    background: url('../img/bg.jpg') no-repeat;
    background-size: cover;
    padding-top: 100px;
    text-align: center;
}

.intro h1 {
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.quote-extern {
    max-width: 360px;
    margin: 0 auto;
    color: #fff;
    margin-bottom: 40px;
}

.quote-extern p {
    font-style: italic;
}


.quote-extern p::before, .quote-extern p::after{
    content: "";
    width: 60px;
    height: 3px;
    background: #fff;
    display: block;
    margin: 14px auto 10px auto;
}

.quote-extern cite {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: .1em;
}

/* Products */

.products {
    padding: 60px 0;
}

.products_list li {
    background: var(--yellow-color);
    text-align: center;
    cursor: pointer;
    
    transition: all .35s ease-in-out;
}

.products_list li:hover {
    transform: translateY(-10px);
}

.products_list li h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-top: 20px;
}

.products_list li h3::after {
    content: "";
    width: 60px;
    height: 3px;
    background:var(--black-color);
    display: block;
    margin: 2px auto;
}

.products_list li p {
    padding: 10px 20px 20px;
}

.product-icon {
    background: var(--black-color);
    padding: 20px;
}

.call {
    padding-top: 40px;
    text-align: center;
    clear: both;
}

.call p {
    margin-bottom: 20px;
}


/* Portfolio */

.portfolio {
    background: var(--black-color);
    width: 100%;
    padding: 40px 0;
    
}

.portfolio .subtitle {
    color: var(--yellow-color);
}

.portfolio .subtitle::after {
    background: var(--yellow-color);
}

.portfolio_list li:last-child {
    margin-top: 20px;
}

.portfolio .call p {
    color: #fff;
}

/* Quality */

.quality {
    padding: 60px 0;
}

.quality:after {
    content: "";
    width: 634px;
    height: 83px;
    display: block;
    background: url("../img/linhas.png") no-repeat center; 
    position: absolute;
    top: 209px;
    right: 162px;
    z-index: -1;
}

.quality img {
    margin: 0 auto;
}

.quality_list {
    padding-top: 40px;
}

.quality_list li {
    text-align: center;
    padding: 0 40px;
}


.quality_list li h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-top: 20px;
}

.quality_list li h3::after {
    content: "";
    width: 60px;
    height: 3px;
    background:var(--black-color);
    display: block;
    margin: 6px auto;
}

/* Break  */

.break {
    width: 100%;
    height: 220px;
    background: url("../img/bg-footer.jpg") no-repeat center;
    background-size: cover;
    text-align: center;
    padding-top: 40px;
}

.break .quote-extern {
    max-width: 400px;
}

/* Footer */

.footer {
    width: 100%;
    background: var(--black-color);
    color: #fff;
    padding: 20px 0;
}

.footer h3 {
    font-size: 18px;
    line-height: 25px;
    color: var(--yellow-color);
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bold;
}

.footer h3::after {
    content: "";
    width: 60px;
    height: 3px;
    background:var(--yellow-color);
    display: block;
    margin: 6px 0 10px;
}

.footer_history {
    padding-right: 40px;
}

.footer_contact ul li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 20px;
}

.footer_networks ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer_networks ul li a {
    border: 3px solid var(--yellow-color);
    display: block;
    padding: 6px;
    transition: all .25s ease-in-out;

}

.footer_networks ul li a:hover {
    border-color: #fff;
}

.copy {
    width: 100%;
    background: var(--yellow-color);
    padding: 20px 0;
}